<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h2>Server's health page</h2>
      <div *ngIf="connectionEstablished; else down" class="health-info">
        <p>
          Server status:
          <img src="assets/images/up.png" alt="up" class="health-images"/>
        </p>
        <p>Database is:
          <img src="assets/images/{{ health.components.db.details.database }}.png" alt="up" class="health-images"/>
        </p>
        <div *ngIf="allDataFetched">
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [needleValue]="needleValue"
            [centralLabel]="centralLabel"
            [options]="options"
            [name]="name"
            [bottomLabel]="bottomLabel"></rg-gauge-chart>
        </div>
      </div>
      <ng-template #down>
        <p>Server status:
          <img src="assets/images/down.png" alt="down" class="health-images"/>
        </p>
      </ng-template>
    </div>
  </div>
</div>
